<div class="container w-50">
  <div>
    <h1>Login</h1>
    <input
      type="text"
      class="form-control w-50 mb-1"
      [(ngModel)]="name"
      placeholder="Enter your user name"
    />
  </div>
  <div>
    <input type="text" class="form-control w-50 mb-1" [(ngModel)]="email" placeholder="Email" />
  </div>
  <div>
    <input
      type="text"
      class="form-control w-50 mb-1"
      [(ngModel)]="password"
      placeholder="Password"
    />
  </div>

  <div>
    @if (pageState() == 'register') {
      <button class="btn btn-outline-primary" (click)="addUser()">Create Account</button>
    } @else if (pageState() == 'update') {
      <!-- TODO fill this in later -->
    } @else {
      <button class="btn btn-outline-primary" (click)="loginUser()">Login</button>
      <button class="btn btn-outline-primary" (click)="registerUser()">Create Account</button>
    }
  </div>
  <!-- <div>
    @if (selectedUser()) {
      <button class="btn btn-outline-primary" (click)="updateUser()">Update User</button>
    } @else {
      <button class="btn btn-outline-primary" (click)="addUser()">Add User</button>
    }
  </div> -->
</div>
